.breadcrumbs {
  max-width: 1200px;
  margin-left: 40px;
  display: flex;
  align-items: flex-start;
}

.crumb {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.breadcrumbs .crumb-image {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* .breadcrumbs .crumb::after {
  content: ' / ';
}

.breadcrumbs .crumb:last-child::after {
  content: "";
} */

.breadcrumbs .crumb a {
  text-decoration: none;
  color: #999999;
}

.breadcrumbs #active a{
  color: #7E22CE;
}